<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Cave.Extensions" publicKeyToken="65480c9a544d67e6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.4.0" newVersion="1.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cave.IO" publicKeyToken="9c6246ce3e4f0673" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cave.Collections" publicKeyToken="a388ee7965934a9d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1.1" newVersion="1.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>